{% extends 'base_home.html' %}
{% load staticfiles %}
<html>
<head>
    <title>Gallery</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
{% block content %}
    <center>
        <h8><b>See Entire Gallery</b></h8>
    </center>
<div class="container">
    <img src=" {% static 'images/building.jpg'%} " alt="Paris" width="200" height="200">
    <img src="{% static 'images/class1.jpg'%} " alt="Paris" width="200" height="200">
    <img src="{% static 'images/class2.jpg'%} " alt="Paris" width="200" height="200">
    <img src="{% static 'images/classroom.jpg'%} " alt="Paris" width="200" height="200">
    <img src="{% static 'images/main.jpg'%} " alt="Paris" width="200" height="200">
    <img src="{% static 'images/Zuse-Institut-Berlin.jpg'%} " alt="Paris" width="200" height="200">
    <img src="{% static 'images/entrance.jpg'%} " alt="Paris" width="200" height="200">
    <img src="{% static 'images/main.jpg'%} " alt="Paris" width="200" height="200">
    <img src="{% static 'images/Zuse-Institut-Berlin.jpg'%} " alt="Paris" width="200" height="200">
    <img src="{% static 'images/entrance.jpg'%} " alt="Paris" width="200" height="200">
    <img src="{% static 'images/main.jpg'%} " alt="Paris" width="200" height="200">
    <img src="{% static 'images/building.jpg'%} " alt="Paris" width="200" height="200">
    <img src="{% static 'images/main.jpg'%} " alt="Paris" width="200" height="200">
    <img src="{% static 'images/IMG_20180414_230911.jpg'%} " alt="Paris" width="200" height="200">
    <img src="{% static 'images/main.jpg'%} " alt="Paris" width="200" height="200">
</div>
</div>
{% endblock %}
</body>
</html>