{% extends 'base_home.html' %}
<html>
<head>
    <title>Home Page</title>
</head>
<body>
{% block content %}
    <div class="offset-md-1 cal-md-8">
<h4>About Founder:</h4>
    <p> <b>Mr.Sunil Kumar Sahu ( MCA )</b>, PostGraduate from Biju Patnayak University Of Technology,odisha
    and then started working as Software Engineer in <b>PYTHON.</b><br> After few years of working found that there is a BIG GAP between what Corporates want and what candidate’s posses. After seeing this situation,<br> Immediately he quit the Job and conducted a research across institutions, industry and students, for 8 months and realised students are gems, but lack of<br>
        innovative things they failed, So he started<b>“SUNIL SOFTWARE SOLUTIONS”</b> for very less price in the market and to enhance the quality of people in to <br>Corporate field by giving best knowledge to students via teaching and skill development. After years of struggle, he was succeeded in that and giving<br> Knowledge as well as innovative thoughts to enter in corporate field for lakhs of students in a span of 8 years and Now his dreams come true that his students <br>enters in to the corners of whole world and became INDIA’S NO #1 in SOFTWARE TRAINING INDUSTRY as <b>SUNIL SOFTWARE SOLUTION.</b></p>
<h5>Achievements:</h5>
    <p>1.Somany students placed in MNCs in the world.<br>
    2.Somany students placed in MNCs in the world.<br>
    3.Somany students placed in MNCs in the world.<br>
    4.Somany students placed in MNCs in the world.<br>
    5.Somany students placed in MNCs in the world.<br></p>

    </div>
{% endblock %}
</body>
</html>